In [444]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

In [445]:
train = pd.read_csv(r'C:\Users\Abhishek Kashyap\Desktop\Swiss Re’s_Participants_dataset\train.csv')

In [446]:
train.head()

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,state,postcode,country
0,1,34,2,1,19/12/12,7,13:20,344,E10000032,4,...,Daylight: Street light present,Fine without high winds,Dry,Ol or diesel,None,1,Yes,England,OX3 9UP,United Kingdom
1,2,5,2,1,02/11/12,4,7:53,102,E09000026,3,...,Daylight: Street light present,Raining without high winds,Dry,None,None,1,No,England,S35 4EZ,United Kingdom
2,3,1,2,1,02/11/12,4,16:00,531,E10000016,6,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,BN21 2XR,United Kingdom
3,4,1,1,1,06/05/12,1,16:50,7,E08000035,6,...,Daylight: Street light present,Fine without high winds,Dry,Roadworks,None,1,Yes,England,TA20 3PT,United Kingdom
4,5,46,1,1,30/06/12,3,13:25,519,E10000031,3,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,DN20 0QF,United Kingdom

In [447]:
train.shape

(478741, 27)

In [448]:
test = pd.read_csv(r'C:\Users\Abhishek Kashyap\Desktop\Swiss Re’s_Participants_dataset\test.csv')

In [449]:
test.head()

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,state,postcode,country
0,14,13,2,0,06/10/13,6,13:28,218,E10000032,4,...,Daylight: Street light present,Snowing without high winds,Dry,None,None,2,Yes,England,HX2 8WH,United Kingdom
1,17,13,2,0,22/04/13,7,9:30,157,E10000034,6,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,RM8 1DD,United Kingdom
2,21,13,2,0,27/09/13,3,19:10,155,E09000012,3,...,Daylight: Street light present,Fine without high winds,Wet/Damp,None,None,1,Yes,England,SE23 1NH,United Kingdom
3,23,13,2,0,13/03/13,4,9:19,26,E10000016,4,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,England,HU10 7QS,United Kingdom
4,28,14,2,0,13/06/13,1,14:59,6,E08000012,4,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,England,BD23 5JL,United Kingdom

In [450]:
test.shape

(121259, 27)

In [451]:
#len(test.postcode.unique())

In [452]:
population = pd.read_csv(r'C:\Users\Abhishek Kashyap\Desktop\Swiss Re’s_Participants_dataset\population.csv')

In [453]:
population.head()

,postcode,Rural Urban,Variable: All usual residents; measures: Value,Variable: Males; measures: Value,Variable: Females; measures: Value,Variable: Lives in a household; measures: Value,Variable: Lives in a communal establishment; measures: Value,Variable: Schoolchild or full-time student aged 4 and over at their non term-time address; measures: Value,Variable: Area (Hectares); measures: Value,Variable: Density (number of persons per hectare); measures: Value
0,AL1 1,Total,5453,2715,2738,5408,45,75,225.63,24.2
1,AL1 2,Total,6523,3183,3340,6418,105,77,286.59,22.8
2,AL1 3,Total,4179,2121,2058,4100,79,46,97.12,43.0
3,AL1 4,Total,9799,4845,4954,9765,34,285,244.75,40.0
4,AL1 5,Total,10226,5129,5097,10211,15,133,200.93,50.9

In [454]:
population.shape

(8035, 10)

In [455]:
rnet = pd.read_csv(r'C:\Users\Abhishek Kashyap\Desktop\Swiss Re’s_Participants_dataset\roads_network.csv')

In [456]:
rnet.head()

,WKT,roadClassi,roadFuncti,formOfWay,length,primaryRou,distance to the nearest point on rd,postcode
0,POINT (-2.3501 56.603923),A Road,A Road,Single Carriageway,2643.0,1.0,1.256769,AB1
1,POINT (-2.021334 57.130142),A Road,A Road,Single Carriageway,2643.0,1.0,1.834101,AB1 9NN
2,POINT (-2.108598 57.146338),A Road,A Road,Single Carriageway,2643.0,1.0,1.830243,AB10 1UH
3,POINT (-2.093928 57.148218),A Road,A Road,Single Carriageway,2643.0,1.0,1.835092,AB10 1YL
4,POINT (-2.116089 57.131671),A Road,A Road,Single Carriageway,2643.0,1.0,1.814373,AB10 6AT

In [457]:
rnet.shape

(91566, 8)

In [458]:
sub_file = pd.read_csv(r'C:\Users\Abhishek Kashyap\Desktop\Swiss Re’s_Participants_dataset\sample_submission.csv')

In [459]:
sub_file

       postcode  Accident_risk_index
0      AB10 1AU                    0
1      AB10 1PG                    0
2      AB10 1TT                    0
3      AB10 1YP                    0
4      AB10 6LQ                    0
...         ...                  ...
49767   ZE2 9LZ                    0
49768   ZE2 9RE                    0
49769   ZE2 9RJ                    0
49770   ZE2 9SB                    0
49771   ZE2 9SD                    0

[49772 rows x 2 columns]

In [460]:
# train = pd.concat([train_data,test])
# train.shape

In [461]:
train.head()

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,state,postcode,country
0,1,34,2,1,19/12/12,7,13:20,344,E10000032,4,...,Daylight: Street light present,Fine without high winds,Dry,Ol or diesel,None,1,Yes,England,OX3 9UP,United Kingdom
1,2,5,2,1,02/11/12,4,7:53,102,E09000026,3,...,Daylight: Street light present,Raining without high winds,Dry,None,None,1,No,England,S35 4EZ,United Kingdom
2,3,1,2,1,02/11/12,4,16:00,531,E10000016,6,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,BN21 2XR,United Kingdom
3,4,1,1,1,06/05/12,1,16:50,7,E08000035,6,...,Daylight: Street light present,Fine without high winds,Dry,Roadworks,None,1,Yes,England,TA20 3PT,United Kingdom
4,5,46,1,1,30/06/12,3,13:25,519,E10000031,3,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,DN20 0QF,United Kingdom

In [462]:
train.Road_Type.unique()

array(['Single carriageway', 'One way street', 'Roundabout',
       'Dual carriageway', 'Slip road', 'Unknown'], dtype=object)

In [463]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478741 entries, 0 to 478740
Data columns (total 27 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Accident_ID                                  478741 non-null  int64
 1   Police_Force                                 478741 non-null  int64
 2   Number_of_Vehicles                           478741 non-null  int64
 3   Number_of_Casualties                         478741 non-null  int64
 4   Date                                         478741 non-null  object
 5   Day_of_Week                                  478741 non-null  int64
 6   Time                                         478727 non-null  object
 7   Local_Authority_(District)                   478741 non-null  int64
 8   Local_Authority_(Highway)                    478741 non-null  object
 9   1st_Road_Class                               478741 non-null  int64
 10  1st_Road_Number                              478741 non-null  int64
 11  Road_Type                                    478741 non-null  object
 12  Speed_limit                                  478741 non-null  int64
 13  2nd_Road_Class                               478741 non-null  int64
 14  2nd_Road_Number                              478741 non-null  int64
 15  Pedestrian_Crossing-Human_Control            478741 non-null  object
 16  Pedestrian_Crossing-Physical_Facilities      478741 non-null  object
 17  Light_Conditions                             478741 non-null  object
 18  Weather_Conditions                           478741 non-null  object
 19  Road_Surface_Conditions                      478289 non-null  object
 20  Special_Conditions_at_Site                   478678 non-null  object
 21  Carriageway_Hazards                          478741 non-null  object
 22  Urban_or_Rural_Area                          478741 non-null  int64
 23  Did_Police_Officer_Attend_Scene_of_Accident  478741 non-null  object
 24  state                                        478741 non-null  object
 25  postcode                                     478741 non-null  object
 26  country                                      478741 non-null  object
dtypes: int64(12), object(15)
memory usage: 98.6+ MB

In [464]:
train.columns

Index(['Accident_ID', 'Police_Force', 'Number_of_Vehicles',
       'Number_of_Casualties', 'Date', 'Day_of_Week', 'Time',
       'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       '2nd_Road_Class', '2nd_Road_Number',
       'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'state', 'postcode', 'country'],
      dtype='object')

In [465]:
#len(train.Accident_ID.unique())

In [466]:
#len(train.postcode.unique())

In [467]:
#count_accident = train.groupby(['postcode']).size().reset_index()

In [468]:
#No need for the time being
#count_accident.columns = ['postcode','count']
#count_accident

In [469]:
casualty = train.groupby(['postcode']).agg(['mean'])['Number_of_Casualties'].reset_index()
casualty.columns = ['postcode','Accident_Risk_Index']
#casualty

In [470]:
train.state.unique()

array(['England', 'Alba / Scotland', 'Cymru / Wales'], dtype=object)

In [471]:
state_dummies = pd.get_dummies(train['state'])
#state_dummies.head()

In [472]:
train.country.unique()

array(['United Kingdom'], dtype=object)

In [473]:
# Dropped country country column, since all data belongs to only one country
train.drop('country',axis=1,inplace=True)

In [474]:
train.Carriageway_Hazards.unique()

array(['None', 'Any animal (except a ridden horse)',
       'Other object in carriageway',
       'Involvement with previous accident',
       'Pedestrian in carriageway (not injured)',
       'Dislodged vehicle load in carriageway'], dtype=object)

In [475]:
Carriageway_dummies = pd.get_dummies(train['Carriageway_Hazards'])
#Carriageway_dummies.head()

In [476]:
train.Special_Conditions_at_Site.unique()

array(['Ol or diesel', 'None', 'Roadworks', 'Mud',
       'Road surface defective',
       'Permanent sign or marking defective or obscured',
       'Auto traffic singal out', 'Auto traffic signal partly defective',
       nan], dtype=object)

In [477]:
# train.Special_Conditions_at_Site = train.Special_Conditions_at_Site.fillna('None')
# train.Special_Conditions_at_Site.unique()

In [478]:
special_dummies = pd.get_dummies(train['Special_Conditions_at_Site'])
#special_dummies.head()

In [479]:
train.Road_Surface_Conditions.unique()

array(['Dry', 'Wet/Damp', 'Frost/Ice', 'Snow', nan,
       'Flood (Over 3cm of water)'], dtype=object)

In [480]:
# train.Road_Surface_Conditions = train.Road_Surface_Conditions.fillna('Dry')
# train.Road_Surface_Conditions.unique()

In [481]:
road_surface = pd.get_dummies(train['Road_Surface_Conditions'])
#road_surface.head()

In [482]:
train.Weather_Conditions.unique()

array(['Fine without high winds', 'Raining without high winds',
       'Fine with high winds', 'Raining with high winds', 'Unknown',
       'Snowing without high winds', 'Snowing with high winds', 'Other',
       'Fog or mist'], dtype=object)

In [483]:
# train.Weather_Conditions =train.Weather_Conditions.replace('Unknown','Other',regex=True)
# train.Weather_Conditions.unique()

In [484]:
weather = pd.get_dummies(train['Weather_Conditions'])
#weather.head()

In [485]:
train.Light_Conditions.unique()

array(['Daylight: Street light present',
       'Darkness: Street lighting unknown',
       'Darkness: Street lights present and lit',
       'Darkeness: No street lighting',
       'Darkness: Street lights present but unlit'], dtype=object)

In [486]:
light_dummies = pd.get_dummies(train['Light_Conditions'])
#light_dummies.head()

In [487]:
train['Date'] = pd.to_datetime(train['Date'])
#train.head()

In [488]:
#Extracting month from date
train['month'] = train['Date'].dt.month

In [489]:
train['Time'] = pd.to_datetime(train['Time'])
#train.head()

In [490]:
train['Hour'] = train['Time'].dt.hour

In [491]:
train['minute'] = train['Time'].dt.minute

In [492]:
train.drop(['Date','Time'], axis=1, inplace=True)
#train.head()

In [493]:
train.columns

Index(['Accident_ID', 'Police_Force', 'Number_of_Vehicles',
       'Number_of_Casualties', 'Day_of_Week', 'Local_Authority_(District)',
       'Local_Authority_(Highway)', '1st_Road_Class', '1st_Road_Number',
       'Road_Type', 'Speed_limit', '2nd_Road_Class', '2nd_Road_Number',
       'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'state', 'postcode', 'month', 'Hour', 'minute'],
      dtype='object')

In [494]:
train.Road_Type.unique()

array(['Single carriageway', 'One way street', 'Roundabout',
       'Dual carriageway', 'Slip road', 'Unknown'], dtype=object)

In [495]:
train.Road_Type.mode()

0    Single carriageway
dtype: object

In [496]:
road_type = pd.get_dummies(train['Road_Type'])
#road_type

In [497]:
train['Pedestrian_Crossing-Human_Control'].unique()

array(['None within 50 metres', 'Control by other authorised person',
       'Control by school crossing patrol'], dtype=object)

In [498]:
human_control = pd.get_dummies(train['Pedestrian_Crossing-Human_Control'])
#human_control.head()

In [499]:
train['Pedestrian_Crossing-Physical_Facilities'].unique()

array(['No physical crossing within 50 meters', 'Zebra crossing',
       'Pedestrian phase at traffic signal junction',
       'non-junction pedestrian crossing', 'Central refuge',
       'Footbridge or subway'], dtype=object)

In [500]:
physical_fac = pd.get_dummies(train['Pedestrian_Crossing-Physical_Facilities'])
#physical_fac.head()

In [501]:
train.drop(['Road_Type','Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards','Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities'], axis=1, inplace=True)

In [502]:
#train.head()

In [503]:
train.drop('state',axis=1, inplace=True)

In [504]:
final = pd.concat([road_type,state_dummies,Carriageway_dummies,special_dummies,road_surface,weather,light_dummies,human_control,physical_fac],axis=1)

In [505]:
#final.head()

In [506]:
df = pd.concat([train,final],axis=1)
#df.head()

In [507]:
#df.info()

In [508]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [509]:
for col in ['Local_Authority_(Highway)','Did_Police_Officer_Attend_Scene_of_Accident']:
    df[col] = le.fit_transform(df[col])

In [510]:
df.head()

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Speed_limit,...,Daylight: Street light present,Control by other authorised person,Control by school crossing patrol,None within 50 metres,Central refuge,Footbridge or subway,No physical crossing within 50 meters,Pedestrian phase at traffic signal junction,Zebra crossing,non-junction pedestrian crossing
0,1,34,2,1,7,344,150,4,395,30,...,1,0,0,1,0,0,1,0,0,0
1,2,5,2,1,4,102,117,3,13,30,...,1,0,0,1,0,0,1,0,0,0
2,3,1,2,1,4,531,136,6,8,40,...,1,0,0,1,0,0,0,0,1,0
3,4,1,1,1,1,7,90,6,13,30,...,1,0,0,1,0,0,1,0,0,0
4,5,46,1,1,3,519,149,3,24,30,...,1,0,0,1,0,0,0,0,1,0

In [511]:
df.shape

(478741, 69)

In [512]:
# t_data = df.iloc[:478741,:]
# t_data.shape

In [513]:
# tst_data = df.iloc[478741:,:]
# tst_data.shape

In [514]:
data = df.groupby(train['postcode']).agg('mean').reset_index()
data

,postcode,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,...,Daylight: Street light present,Control by other authorised person,Control by school crossing patrol,None within 50 metres,Central refuge,Footbridge or subway,No physical crossing within 50 meters,Pedestrian phase at traffic signal junction,Zebra crossing,non-junction pedestrian crossing
0,AB10 1AU,241563.000000,38.750000,1.750000,1.500000,3.000000,436.500000,122.000000,5.250000,296.750000,...,1.000000,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0
1,AB10 1BD,314402.200000,41.200000,1.600000,1.200000,5.000000,469.600000,110.800000,5.600000,531.800000,...,0.800000,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0
2,AB10 1BW,397508.000000,18.000000,1.750000,2.000000,5.750000,165.250000,101.000000,4.000000,1056.750000,...,0.750000,0.000000,0.0,1.000000,0.0,0.0,0.750000,0.000000,0.25,0.0
3,AB10 1HT,414058.000000,20.333333,1.666667,1.000000,6.333333,338.000000,123.333333,6.000000,382.666667,...,0.666667,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0
4,AB10 1NJ,237589.714286,29.142857,1.714286,1.428571,4.428571,329.285714,108.285714,4.285714,1363.142857,...,0.571429,0.142857,0.0,0.857143,0.0,0.0,0.857143,0.142857,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95620,ZE2 9QJ,218322.000000,18.000000,2.000000,1.500000,3.000000,187.500000,108.500000,4.000000,504.500000,...,1.000000,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0
95621,ZE2 9QS,218485.600000,23.200000,1.800000,1.600000,5.000000,236.000000,111.400000,3.400000,90.600000,...,0.400000,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0
95622,ZE2 9RE,311950.000000,22.000000,2.500000,1.500000,5.000000,256.000000,86.500000,5.000000,263.500000,...,1.000000,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0
95623,ZE2 9SB,259288.200000,30.200000,2.000000,1.400000,4.400000,347.800000,105.800000,4.400000,1895.200000,...,0.800000,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0
95624,ZE2 9SD,369343.500000,7.000000,1.500000,2.000000,5.000000,143.500000,86.500000,5.500000,10.500000,...,0.500000,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0

In [515]:
# test_data = tst_data.groupby(tst_data['postcode']).agg('mean').reset_index()
# test_data

In [516]:
casualty

       postcode  Accident_Risk_Index
0      AB10 1AU             1.500000
1      AB10 1BD             1.200000
2      AB10 1BW             2.000000
3      AB10 1HT             1.000000
4      AB10 1NJ             1.428571
...         ...                  ...
95620   ZE2 9QJ             1.500000
95621   ZE2 9QS             1.600000
95622   ZE2 9RE             1.500000
95623   ZE2 9SB             1.400000
95624   ZE2 9SD             2.000000

[95625 rows x 2 columns]

In [517]:
data.drop('Accident_ID', axis=1, inplace=True)
#test_data.drop('Accident_ID', axis=1, inplace=True)

In [518]:
data['postcode'] = le.fit_transform(data['postcode'])
#test_data['postcode'] = le.fit_transform(test_data['postcode'])

In [519]:
data['Accident_Risk_Index'] = casualty['Accident_Risk_Index']
data.head()

,postcode,Police_Force,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Speed_limit,...,Control by other authorised person,Control by school crossing patrol,None within 50 metres,Central refuge,Footbridge or subway,No physical crossing within 50 meters,Pedestrian phase at traffic signal junction,Zebra crossing,non-junction pedestrian crossing,Accident_Risk_Index
0,0,38.750000,1.750000,1.500000,3.000000,436.500000,122.000000,5.250000,296.750000,30.000000,...,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0,1.500000
1,1,41.200000,1.600000,1.200000,5.000000,469.600000,110.800000,5.600000,531.800000,36.000000,...,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0,1.200000
2,2,18.000000,1.750000,2.000000,5.750000,165.250000,101.000000,4.000000,1056.750000,30.000000,...,0.000000,0.0,1.000000,0.0,0.0,0.750000,0.000000,0.25,0.0,2.000000
3,3,20.333333,1.666667,1.000000,6.333333,338.000000,123.333333,6.000000,382.666667,50.000000,...,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0,1.000000
4,4,29.142857,1.714286,1.428571,4.428571,329.285714,108.285714,4.285714,1363.142857,47.142857,...,0.142857,0.0,0.857143,0.0,0.0,0.857143,0.142857,0.00,0.0,1.428571

In [520]:
y = data['Accident_Risk_Index']
x = data.drop('Accident_Risk_Index',axis=1)

In [521]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [522]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=42)

In [523]:
model = RandomForestRegressor()

In [524]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [525]:
y_pred = model.predict(x_test)

In [526]:
from sklearn.metrics import mean_squared_error

In [527]:
score = mean_squared_error(y_test, y_pred, squared=False)

In [528]:
score

0.0008580596334762689

In [529]:
s_file = pd.read_csv('sub_file.csv')

In [530]:
s_file.head()

,Unnamed: 0,postcode,Police_Force,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,...,Daylight: Street light present,Control by other authorised person,Control by school crossing patrol,None within 50 metres,Central refuge,Footbridge or subway,No physical crossing within 50 meters,Pedestrian phase at traffic signal junction,Zebra crossing,non-junction pedestrian crossing
0,0,0,14.000000,1.0,0.0,4.000000,203.000000,115.000000,6.000000,11.0,...,0.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,1,6.000000,1.0,0.0,4.500000,102.000000,79.000000,4.500000,625.5,...,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,2,15.000000,2.0,0.0,2.000000,200.000000,130.000000,4.000000,1.0,...,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,3,18.333333,2.0,0.0,2.333333,223.333333,120.666667,4.666667,181.0,...,0.666667,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,4,47.000000,2.0,0.0,3.000000,537.000000,89.000000,6.000000,12.0,...,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [531]:
s_file.drop('Unnamed: 0',axis=1, inplace=True)

In [532]:
s_file.head()

,postcode,Police_Force,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Speed_limit,...,Daylight: Street light present,Control by other authorised person,Control by school crossing patrol,None within 50 metres,Central refuge,Footbridge or subway,No physical crossing within 50 meters,Pedestrian phase at traffic signal junction,Zebra crossing,non-junction pedestrian crossing
0,0,14.000000,1.0,0.0,4.000000,203.000000,115.000000,6.000000,11.0,30.000000,...,0.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,6.000000,1.0,0.0,4.500000,102.000000,79.000000,4.500000,625.5,45.000000,...,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,15.000000,2.0,0.0,2.000000,200.000000,130.000000,4.000000,1.0,30.000000,...,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,18.333333,2.0,0.0,2.333333,223.333333,120.666667,4.666667,181.0,26.666667,...,0.666667,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,47.000000,2.0,0.0,3.000000,537.000000,89.000000,6.000000,12.0,30.000000,...,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [533]:
data.head()

,postcode,Police_Force,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Speed_limit,...,Control by other authorised person,Control by school crossing patrol,None within 50 metres,Central refuge,Footbridge or subway,No physical crossing within 50 meters,Pedestrian phase at traffic signal junction,Zebra crossing,non-junction pedestrian crossing,Accident_Risk_Index
0,0,38.750000,1.750000,1.500000,3.000000,436.500000,122.000000,5.250000,296.750000,30.000000,...,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0,1.500000
1,1,41.200000,1.600000,1.200000,5.000000,469.600000,110.800000,5.600000,531.800000,36.000000,...,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0,1.200000
2,2,18.000000,1.750000,2.000000,5.750000,165.250000,101.000000,4.000000,1056.750000,30.000000,...,0.000000,0.0,1.000000,0.0,0.0,0.750000,0.000000,0.25,0.0,2.000000
3,3,20.333333,1.666667,1.000000,6.333333,338.000000,123.333333,6.000000,382.666667,50.000000,...,0.000000,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.00,0.0,1.000000
4,4,29.142857,1.714286,1.428571,4.428571,329.285714,108.285714,4.285714,1363.142857,47.142857,...,0.142857,0.0,0.857143,0.0,0.0,0.857143,0.142857,0.00,0.0,1.428571

In [534]:
len(s_file.columns)

68

In [535]:
len(data.columns)

69

In [538]:
y_sub = model.predict(s_file)

C:\Users\Abhishek Kashyap\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- None.1
- Unknown.1
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [539]:
y_sub

array([1., 1., 1., ..., 1., 1., 1.])

In [540]:
submission_df = pd.read_csv(r'C:\Users\Abhishek Kashyap\Desktop\Swiss Re’s_Participants_dataset\sample_submission.csv')

In [541]:
submission_df

       postcode  Accident_risk_index
0      AB10 1AU                    0
1      AB10 1PG                    0
2      AB10 1TT                    0
3      AB10 1YP                    0
4      AB10 6LQ                    0
...         ...                  ...
49767   ZE2 9LZ                    0
49768   ZE2 9RE                    0
49769   ZE2 9RJ                    0
49770   ZE2 9SB                    0
49771   ZE2 9SD                    0

[49772 rows x 2 columns]

In [542]:
df1 = pd.DataFrame(y_sub)

In [543]:
df1.columns = ['y']
df1

         y
0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
...    ...
49767  1.0
49768  1.0
49769  1.0
49770  1.0
49771  1.0

[49772 rows x 1 columns]

In [544]:
submission_df['Accident_risk_index'] = df1['y']
submission_df.head()

   postcode  Accident_risk_index
0  AB10 1AU                  1.0
1  AB10 1PG                  1.0
2  AB10 1TT                  1.0
3  AB10 1YP                  1.0
4  AB10 6LQ                  1.0

In [545]:
submission_df.to_csv('my_submission_file.csv', index=False)